 .card-img-top  {
    height: 200px;           /* fixed height */
    object-fit: cover;       /* crop & maintain aspect ratio */
    border-top-left-radius: 0.5rem; 
    border-top-right-radius: 0.5rem;}