<div class="container my-5">
  <h2 class="text-center mb-3" style="font-weight:700; color:#2c3e50;margin-top: 8%;">
     Our Dental Treatments
  </h2>
  <p class="text-center text-muted mb-4" style="max-width:700px; margin:auto;">
    Stay informed with expert tips, latest treatments, and dental care advice from our specialists.
  </p>

  <div class="row g-4 justify-content-evenly">
    <div *ngFor="let b of tarr; let i = index" class="col-12 col-sm-4 col-md-4" style="width: 18rem;">
      <div class="card h-100">
        <img style="height: 150px;" [src]="b.tphoto" class="card-img-top" alt="Blog Image">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">{{b.ttitle}}</h5>
          <p class="card-text  text-justify">{{b.tdescription}}</p>
          <div class="text-center my-3">
  <a  *ngIf="uemail != null"  class="btn btn-primary px-4" (click)="viewappointform(b.ttitle)">
    Book Appointment
  </a>
</div>

        </div>
      </div>
    </div>
  </div> <!-- row -->
</div> <!-- container -->
